<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>my workshop</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header>
    <h1 class="pageTitle">
        page title </h1>
        <nav class="navigation">
            <!-- menu déroulant avec icône "burger"-->
        </nav>
        </header>
        <main>
