<%- include('partials/header') %>

<div>
    <H1 class="title">creator profile</H1>
    <img class="creator_picture" src="<%{avatar}%>" alt="avatar de l'utilisateur">
</div>
<div>
    <h3>nom:<%${lastname}%></h3>
    <h3>prenom:<%${firstname}%></h3>
    <ul>
        <li>
            coordonnées:<%${adress}%>
        </li>
        <li>
            telephone:<%${phone}%>
        </li>
        <li>
            messagerie:<%${email}%>
        </li>
    </ul>
</div>
<div>
    <!-- TODO: insérer logo medias sociaux choisis à l'enregistrement-->
</div>
<div>
    <h3><%${titleWorkspace}</h3>
    <p>créé le <%${creationDate}%></p>
</div>
<div class="isLogged">
    <p>ajouter un espace de travail</p><button class="button" type="submit" value="addWorkspace">
    <p>supprimer son compte</p><button class="button" type="submit" value="deleteUser">
</div>
</div>


<%- include('partials/footer') %>