<%- include('partials/header') %>
<section>
    <h1 class="title">my workshop</h1>
</div>
<div>
        <h2>présentation</h2>
    <p>
        <!-- TODO: texte de présentation -->
    </p>
</section>
<section>
    <!-- TODO: carrousel d'images aléatoires ? -->
</section>
<section>
    <form class="search-form" action="" method="GET">
    <!-- formulaire de recherche -->
        <label>
            <Input
                type="text"
                id="theme_id"
                placeholder="nom du theme">
        </label>
            <p>
        <!-- TODO: paragraphe -->
            </p>
                <button class="search-themes" type="submit" value="validate">valider</button>
                <button class="button" type="submit" value="validate">valider</button>
    </form>
</section>

<%- include('partials/footer') %>