<%- include('partials/header') %>


<div>
    <h1 class="title">se connecter</h1>
    <form action="" method="post" class="loginForm">
        <label for="login">nom de connexion</label>
        <input type="text" name="login" id="login" required>
        <label for="password">mot de passe</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">valder</button>
        <label for="forgotPassword">mot de passe oublié ?</label>
        <input type="submit" name="forgotPassword" id="forgotPassword" required><!-- a revoir -->
    </form>
    <div>
        <h1 class="title">se connecter</h1>
        <button class="bouton validate" type="submit" value="formValidate">valider</button>
    </div>
</div>

<%- include('partials/footer') %>